@model IEnumerable<EventBrightApplication.Models.Event>

<div id="searchresults" style="margin-top:10px;">
    <table>
        <tr style="background-color:cornflowerblue">
            <th style="width:200px; text-align:center;padding-bottom:3px;padding-left:5px;">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th style="width:100px; text-align:center;padding-bottom:3px;">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th style="width:100px; text-align:center;padding-bottom:3px;">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th style="width:100px; text-align:center;padding-bottom:3px;">
                @Html.DisplayNameFor(model => model.State)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr style=" border:1px solid cornflowerblue;">
                <td style="padding-left:3px;"> @Html.ActionLink(item.Title, "Details", "Event", new { id = item.EventId }, null)</td>
                <td style="text-align:center;">@item.StartDate</td>
                <td style="text-align:center;">@item.City</td>
                <td style="text-align:center;">@item.State</td>
            </tr>

        }
    </table>
</div>